$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
button,
input,
select,
textarea {
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

button.active {
  background: $strong-cyan !important;
  color: $very-dark-cyan !important;
  opacity: 1 !important;
  &:hover {
    background: lighten($strong-cyan, 25%) !important;
  }
}

input {
  display: block;
  text-align: right;
  width: 99%;
  height: 3rem;
  padding-right: 1rem;
  border-radius: 0.3rem;
  background: $very-light-grayish-cyan;
  color: $very-dark-cyan;
  font-size: 25px;
  margin-top: 0.5rem;
  cursor: pointer;
}
input:not(:placeholder-shown) {
  border: 2px solid $strong-cyan !important;
}

span {
  font-size: 14px;
  color: $light-grayish-cyan;
}

body {
  font-size: 24px;
  color: $dark-grayish-cyan;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $light-grayish-cyan;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    .title {
      font-size: 24px;
      color: $very-dark-cyan;
      letter-spacing: 9px;
      margin-bottom: 5rem;
    }
    .calculator {
      display: flex;
      background: $white;
      width: 63.5vw;
      border-radius: 1.8rem;
      .left {
        width: 50%;
        height: 100%;
        padding: 3rem;
        padding-right: 1.7rem;
        padding-left: 2.8rem;
        .inner {
          height: 100%;
          width: 100%;
          .bill {
            font-size: 16px;
            margin-bottom: 2.2rem;
            .input-wrapper {
              position: relative;
              #dollar {
                position: absolute;
                top: 1rem;
                left: 1rem;
              }
            }
          }
          .select-tip {
            font-size: 16px;
            .tip-buttons {
              display: grid;
              grid-gap: 0.8rem;
              width: calc(100% - 1.6rem);
              grid-template-columns: repeat(3, 33%);
              grid-template-rows: repeat(2, 50%);
              margin: 0;
              padding: 0;
              margin-top: 1rem;
              .tip-button {
                height: 3rem;
                background: $very-dark-cyan;
                color: $white;
                font-size: 25px;
                border-radius: 0.3rem;
                transition: 0.3s ease;
              }
              .custom-tip {
                background: $very-light-grayish-cyan;
                color: $very-dark-cyan;
                font-size: 25px;
                border-radius: 0.3rem;
                padding: 0;
                margin: 0;
                text-align: center;
              }
            }
            margin-bottom: 2.5rem;
          }
          .people {
            position: relative;
            font-size: 16px;
            .input-wrapper {
              position: relative;
              #person {
                position: absolute;
                top: 1rem;
                left: 1rem;
              }
            }
            .error-message {
              display: none;
              position: absolute;
              top: 0;
              right: 0.5rem;
              color: crimson;
            }
          }
        }
      }
      .right {
        width: 50%;
        padding: 1.9rem;
        padding-left: 1rem;
        .inner {
          background: $very-dark-cyan;
          height: 100%;
          width: 100%;
          border-radius: 1rem;
          padding: 3rem 2.5rem 1rem 2.5rem;
          color: $white;
          .result {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            margin-bottom: 2rem;
            #tip-calculated,
            #total-calculated {
              font-size: 44px;
              color: $strong-cyan;
            }
          }
          .reset {
            background: $strong-cyan;
            color: $very-dark-cyan;
            font-size: 20px;
            opacity: 0.3;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.3rem;
            margin-top: 5rem;
            transition: 0.3s ease;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      padding-top: 2rem;
      .title {
        margin-bottom: 2rem;
      }
      .calculator {
        display: block;
        width: 100vw;
        .left {
          width: 100%;
          padding: 2rem 2rem 0 2rem;
          .inner {
            .select-tip {
              .tip-buttons {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
              }
            }
          }
        }
        .right {
          width: 100%;
          padding: 2rem;
          .inner {
            padding: 2.2rem 1.5rem 1.5rem;
            .result {
              #tip-calculated {
                font-size: 34px;
              }
              #total-calculated {
                font-size: 34px;
              }
            }
            .reset {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  @media (min-width: 800px) and (max-width: 1200px) {
    .calculator {
      .left {
        padding-right: 1rem !important;
        padding-left: 2rem !important;
        .inner {
          .select-tip {
            .tip-buttons {
              .tip-button {
                font-size: 20px !important;
              }
              .custom-tip {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .right {
        .inner {
          padding: 4rem 1rem 0 !important;
          .result {
            #tip-calculated,
            #total-calculated {
              font-size: 30px !important;
            }
          }
        }
      }
    }
  }
}
